script(src="/javascripts/profile.js")
div(class="profile-container bg-white mr-3 d-flex flex-column rounded py-3")
    form(method="POST" action="/users/update/image" enctype="multipart/form-data" id="form-avatar" class="d-flex flex-row justify-content-center align-items-center")
        input(type="file" name="avatar" id="input-avatar" class="d-none")
        img(src=user.avatar id="image-profile" class="img-fluid rounded")
    div(class="d-flex flex-row justify-content-center align-items-center")
        p= `${user.username} (${user.local.email})`
    if currentUser._id.toString() !== user._id.toString()
        div(class="d-flex flex-row justify-content-center align-items-center")
            if currentUser.following.map(objId => objId.toString()).includes(user._id.toString())
                a(href=`/users/unfollow/${user._id}` class="btn btn-primary btn-unfollow") Unfollow
            else
                a(href=`/users/follow/${user._id}` class="btn btn-outline-primary btn-follow") Follow
    div(class="d-flex flex-row justify-content-center align-items-center my-3 text-center")
        div(class="flex-fill")
            p
                strong Tweet
                br
                span(class="text-primary")= tweets && tweets.filter(t => t.author._id.toString() === user._id.toString()).length
        div(class="flex-fill")
            p
                strong Following
                br
                span(class="text-primary")= user.following.length